@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
 font-family: 'Noto Sans KR', sans-serif;
}

h1{
  font-size:45px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align : center;
  ;
}
#active{
  color:blue;
  text-decoration: underline;

}
#title{
  color: skyblue;
}
.saw{
  color:gray;
}
a{
  color:black;
  text-decoration : none;
  marker:none;
}
ul{
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  text-align :center;
  list-style: none;
  font-size: 22px;
  font-family: 'Noto Sans KR', sans-serif;
}
#main h2{
  text-align : center;
  font-size: 32px;
  font-family: 'Noto Sans KR', sans-serif;
}
#cardnews {
  text-align: center;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  font-size: 22px
  font-family: 'Noto Sans KR', sans-serif;
}
#cardnews p{
  margin-right : 5px;
}
#video{
  text-align: center;
  display:grid;
  grid-template-columns:1fr 1fr;
}
#video p{
  margin-right : 90px;
}
.box{
  margin-left:auto;
  margin-right:auto;
}
#odd{
  padding-top: 30px;
  padding-bottom: 100px;
}
#even{
  background-color: #F4FFFF;
  padding-top: 30px;
  padding-bottom: 100px;
}
#footer .box{
  padding-top: 30px;
  padding-bottom: 30px;
}
